body{
  display: flex;
  justify-content: center;
  
}

.App{
  display: flex;
  flex-direction: column;
}
.Nav {
  display: flex;
  justify-content: space-around;
  background-color: #0070FF;
  color: white;
  font-size: 17px;
  
}

.numberExs {
  display: flex;
  gap: 15px;
  color: rgba(255, 255, 255, 0.372);
}

.numberExs h2:nth-child(4) {
  color: white;
}
h2.exercise{
 margin: 0px;
}

/* info */
.textInfo {
  display: flex;
  flex-direction: column;
  background-color: #CBE9EF;
 
  border-radius: 10px;
  border-color: #0070FF;
  padding: 10px;
  margin: 20px;
  
}
.Aplication{
  padding: 5px;
  border: 2px solid black;
  margin: 30px;
}
.DisplayPrimeNumbers{
  padding: 5px;
  border: 2px solid black;
  margin: 30px;
}

.BigInput{
  padding: 5px;
  border: 2px solid black;
  margin: 30px;
}